
<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Correo Electrónico</th>
      <th>Compañía</th>
      <th>rfc</th>
      <th>Editar</th>
      <th>Eliminar</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of _clientes">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.compania}}</td>
      <td>{{cliente.rfc}}</td>
      <td> <button type="button" class="btn btn-primary" (click)="open(content)">Editar</button></td>
      <td> <button type="button" class="btn btn-primary" (click)="onEliminarClick(cliente)">Eliminar</button></td>
    </tr>
    </tbody>
  </table>
</div>

<template ngbModalContainer #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>
